{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<body> 
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
				    <!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							{% if carts %}
							<h3 class="title">My Orders</h3>
							{% else %}
							<h3 class="title">No Products Purchased Yet</h3>
							{% endif %}
						</div>
					</div>
					<!-- /section title -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION --> 
	</body>
</html>
{% endblock %}